<!-- include header -->
<%- include('../../include/_headerAdmin') %>
<!-- /include header -->

<div class="mb-4">
<h1>Editar Categoría</h1>
</div>

<main class="container">

<form action="/update-categoria/<%= category._id %>" method="POST">

    <div>
        <label>Nombre</label>

        <input
        type="text"
        name="nombre"
        value="<%= category.nombre %>"
        required>
    </div>

    <button type="submit">
        Actualizar
    </button>

</form>

</main>

<!-- include footer -->
<%- include('../../include/_footerAdmin') %>
<!-- /include footer -->