<div id="carouselProducto" class="carousel slide product-carousel">

    <div class="carousel-inner">

        <% if(product.fotos && product.fotos.length > 0){ %>

            <% product.fotos.forEach((foto, index) => { %>
                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <img src="<%= foto %>" class="d-block w-100 product-image">
                </div>
            <% }) %>

        <% } else if(product.foto){ %>

            <div class="carousel-item active">
                <img src="<%= product.foto %>" class="d-block w-100 product-image">
            </div>

        <% } else { %>

            <div class="carousel-item active">
                <img src="/assets/img/default.jpg" class="d-block w-100 product-image">
            </div>

        <% } %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>