<%- include('include/_headerAdmin') %>

<h2>Crear Nueva Marca</h2>
<div class="container mt-4">
    
    <form action="/api/marcas" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="nombre">Nombre de la marca</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>

        <div class="form-group">
            <label>Foto de la marca</label>
            <input type="file" name="foto" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
</div>

<%- include('include/_footerAdmin') %>