<%- include('include/_headerAdmin') %>

<div class="container mt-4">
    <h2>Crear Nuevo Rol</h2>
    <form action="/create-rol" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre del rol</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<%- include('include/_footerAdmin') %>
