<!-- include header -->
<%- include('include/_header') %>

<main id="site-main">
    <div class="container">

        <h2 class="mb-4 fw-bold">
            🔥 Promociones destacadas
        </h2>
    </div>

    <div class="container-cards">
                    <div class="card" style="width: 18rem;">
            <img src="/img/arroz.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Arroz</h5>
                <p class="card-text">Arroz de alta calidad, perfecto para tu familia.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">2300$ Libra</li>
                <li class="list-group-item">Disponible</li>
                <li class="list-group-item">Cantidad en Stock: 50</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Ver Detalles</a>
                <a href="#" class="card-link">Agregar al Carrito</a>
            </div>
            </div>

    </div>

</main>

<%- include('include/_footer') %>
