<footer class="footer">
    <div class="footer-container">

        <div class="footer-col">
            <h3>Tienda Galindez Administrador</h3>
            <p>La mejor tienda online con productos de calidad y envíos rápidos 🛵.</p>
        </div>

        <div class="footer-col">
            <h4>Enlaces</h4>
            <a href="#">Categorias</a>
            <a href="#">Ofertas</a>
            <a href="#">Mas vendidos</a>
            <a href="#">Contacto</a>
        </div>

        <div class="footer-col">
            <h4>Ayuda</h4>
            <a href="#">Como comprar</a>
            <a href="#">Envios</a>
            <a href="#">Devoluciones</a>
            <a href="#">Soporte</a>
        </div>

        <div class="footer-col">
            <h4>Redes</h4>
            <div class="socials">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 MiTienda - Todos los derechos reservados
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>
</body>
</html>