
<!-- include header -->
    <%- include('../../include/_header') %>
<!-- /include header -->
<br>
<!-- carrusel -->
<%- include('../../include/_carousel') %>


<!-- cards -->
<div class="container-cards">
    <% productos.forEach(p => { %>
        <%- include('../../include/card', { p }) %>
    <% }) %>
</div>

<!-- include footer -->
<%- include('../../include/_footer') %>
<!-- /include footer -->
