
<!-- include header -->
    <%- include('../../include/_header') %>
<!-- /include header -->


<main id="site-main">
<h1 class="mb-3">Productos de la marca: <%= marca %></h1>

<p class="mb-4">Descubre los productos de esta marca.</p>

<div class="container-cards">

    <% products.forEach(p => { %>
        <%- include('../../include/card', { p }) %>
    <% }) %>

</div>

</main>


<!-- include footer -->
<%- include('../../include/_footer') %>
<!-- /include footer -->
